/* 
    This style sheet stylizes the controls inside our
    WolfieBall Draft Kit JavaFX application. Note that controls
    in the UI must have the same class as those below in 
    order to be rendered using those properties.

    Author     : Awaes Choudhary
*/

// CSS CLASS FOR OUR BIG PANES
.bordered_pane {
    -fx-background-color: #aaaaff;
    -fx-background-radius: 5.0;
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-border-width: 2px;
    -fx-border-color: #7777dd;
}

// CSS CLASS FOR LABELS HEADING LARGE SECTIONS IN THE GUI
.heading_label {
    -fx-font-size: 20pt;
    -fx-padding: 10;
}

// CSS CLASS FOR LABELS SERVING AS PROMPTS IN THE GUI
.prompt_label {
    -fx-font-size: 10pt;
    -fx-font-weight: bold;
}

// CSS CLASS FOR THE PLAYERS SCREEN
.players_screen {
    
}

// CSS CLASS FOR WORKSPACE OF APPLICATION
.work_space {
    -fx-background-color: #b0c4de;
    -fx-background-radius: 5.0;
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-border-width: 10px;
    -fx-border-color: #006400;
}

//CSS CLASS FOR RADIO BUTTON TOOLBAR IN PLAYERS SCREEN
.radio_button_toolbar {
    -fx-spacing: 10;
    -fx-padding: 10;
    -fx-background-color: #0099cc;
    -fx-color: #ccffff;
    
}

//CSS CLASS FOR FANTASY TEAMS SCREEN BOX
.fantasy_teams_screen_box {
    -fx-spacing: 10;
    -fx-padding: 10;
    -fx-background-color: #b0c4de;
    -fx-color: #0099cc;
}

// CSS CLASS FOR LABELS HEADING SUBSECTIONS IN THE GUI
.subheading_label {
    -fx-font-size: 14pt;
}